<!-- TODO: make template out of this -->
<div id="{{tabName}}">
	<div id="tableIDFourthTab">
		<h3 class="demoHeaders">{{displayName}}</h3>
		{{#privileges}}
		<table id="reportedItemsTable">
			<thead class="ui-widget-header">
				<tr id="reportedItemsTitleRow">
					<th>Item</th>
					<th>Container</th>
					<th>Amount</th>
					<th>Location</th>
					<th>Reported to</th>
					<th>Note</th>
				</tr>
			</thead>
			<tbody class="ui-widget-body">
				<tr>
				
				</tr>
			</tbody>
		</table>
		{{/privileges}}
	</div>
</div>